<div id="catalogue">
    <h1>Contact Us</h1>
    <label for="questionType">Question: </label><select id="questionType" class="contact"  ng-options="i.value as i.value for i in options" ng-model="contact.question"></select><br/><br/>
    <span ng-show="contact.question!=='General Question'" ><label for="itemType">Type: </label><select id="itemType" class="contact"ng-options="i.value as i.value for i in instrumentTypes" ng-model="contact.itemType" ng-change="getItems(contact.itemType)"></select></span><br/><br/>
    <span ng-show="contact.itemType"><label for="itemType">Instrument: </label><select class="contact" ng-options="i.name as i.name for i in items" ng-model="contact.itemName"></select></span>
    <hr>
    <form>
        <input type="text" class="contact" placeholder="First Name" ng-model="contact.firstName"><br/><br/>
        <input type="text" class="contact" placeholder="Last Name" ng-model="contact.lastName"><br/><br/>
        <input type="text" class="contact" placeholder="Email" ng-model="contact.email"><br/><br/>
        <textarea rows="4" cols="50" placeholder="Comment" ng-model="contact.body" style="margin: 0px; width: 75%; height: 175px;"></textarea>
        <br/>
        <br/>
        <input type="submit" style="cursor:pointer" class="viewButton" value="Send" ng-click="sendEmail(contact)">
    </form>
    <div class="clear"></div>

</div>