<div class="inventory-section" ng-show="showFretShop">
    <a href="#" ng-click="popup(1)"><img class="inventory-image" border="1" src="img/thumbs/fretshop/1.jpg"/></a>
    <a href="#" ng-click="popup(2)"><img class="inventory-image" border="1" src="img/thumbs/fretshop/2.jpg"/></a>
    <a href="#" ng-click="popup(3)"><img class="inventory-image" border="1" src="img/thumbs/fretshop/3.jpg"/></a>
    <a href="#" ng-click="popup(4)"><img class="inventory-image" border="1" src="img/thumbs/fretshop/4.jpg"/></a>
    <div style="padding-left:20px; text-align: center">
        Our store is open Tuesday - Friday 11-6 and Saturday 10 - 4.  We have the largest selection of banjos and mandolins in the area, plus accessories and fun merchandise.<br/><br/>
        Need setup and repair or even instrument building advice? We can help. Bring it by and let?s have a look.<br/><br/>
        Want us to build or help you build your dream banjo? We have tone rings, rims, necks, resonators and every part in between
    </div>
</div>