
<div layout="row" layout-align="center">
    <div ap-fotorama="options" ng-model="images"/>
</div>

<div layout="row" layout-align="center">
    <div id="location" layout-gt-md="row" layout="column">
        <div class="locationLeft">
            <img src="img/bg/shop.jpg"/>
        </div>

        <div class="locationRight" layout="column">
            <h2>Come Visit us</h2>
            <p>Our store is open Tuesday - Friday 11-6 and Saturday 10 - 4. We have the largest selection of banjos and mandolins in the area, plus accessories and fun merchandise.</p>
            <p>Need setup and repair or even instrument building advice? We can help. Bring it by and let's have a look.</p>
            <p>Want us to build or help you build your dream banjo? We have tone rings, rims, necks, resonators and every part in between </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
