<md-content flex layout="column">
        <md-grid-list
            md-cols="4" md-cols-sm="4" md-cols-md="8" md-cols-gt-md="12"
            md-row-height="16:9"
            md-gutter="15px" md-gutter-gt-sm="4px">
        <md-grid-tile ng-repeat="item in items"
                      md-rowspan="3"
                      md-colspan="4"
                      class="md-whiteframe-4dp"
                        ng-if="item.visible"
        >

                <div class="catThumb">
                    <img ng-src="img/inventory/{{item.id}}/1.png" />
                </div>
                <div layout="column">
                    <h3>{{item.name}}</h3>
                    <md-divider></md-divider>
                    <div layout="row" layout-margin>
                        <a href="#/inventory/{{item.id}}" class="viewButton">View</a> <div class="priceButton">${{item.price}}</div>
                    </div>
                </div>
            <md-grid-tile-footer>
                <h3>This is a footer</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>
