<h1>{{type}}</h1>
<md-grid-list
        md-cols="4" md-cols-sm="4" md-cols-md="8" md-cols-gt-md="12"
        md-row-height="8:5"
        md-gutter="8px" md-gutter-gt-sm="4px">
    <md-grid-tile ng-repeat="item in items"
                  md-rowspan="3"
                  md-colspan="4"
                  ng-if="item.visible"
                  layout="row"
                  layout-align="start center"
                  layout-padding

    >
        <div layout="row" layout-align="start">
            <div class="catThumb" layout="row" layout-align="" image-on-load>
                <img ng-src="img/inventory/{{item.id}}/1.png" />
                <div class="loading" ng-show="imageloading">
                    <md-progress-circular class="loader md-accent" md-diameter="50"></md-progress-circular>
                </div>
            </div>
            <div layout="column">
                <h3><a href="#/inventory/{{item.id}}">{{item.name}}</a></h3>
                <div layout="row" layout-padding>
                    <a href="#/inventory/{{item.id}}" class="viewButton">View</a> <div class="priceButton">${{item.price}}</div>
                </div>
            </div>
        </div>
    </md-grid-tile>
</md-grid-list>
