

<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

<!--    <md-toolbar class="md-theme-indigo">

        <h1 class="md-toolbar-tools">Sidenav Left</h1>

    </md-toolbar>-->

    <md-content layout="column" layout-padding >

        <md-input-container ng-if="!isHome">

            <label>Filter</label>

            <md-select ng-model="filter" ng-change="runFilter(filter)" ng-init="filter = 'added'">

                <md-option value="added" selected>Recently Added</md-option>

                <md-option value="PriceAsec">Price: Low to High</md-option>

                <md-option value="PriceDesc">Price: High to Low</md-option>

                <md-option value="AZ">A to Z</md-option>

                <md-option value="ZA">Z to A</md-option>

            </md-select>

        </md-input-container>

        <md-input-container>

            <label>Search Inventory</label>

            <input type="text" class="search" ng-model="searchValue" ng-change="search(searchValue)">

        </md-input-container>

        <!--<md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-1dp" ng-click="filterGuitar()">

            GUITARS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" ng-click="filterBanjo()">

            BANJOS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" ng-click="filterMando()">

            MANDOLINS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" ng-click="filterOther()">

            OTHER INSTRUMENTS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" href="#/events">

            EVENTS

        </md-button>

        <md-button md-no-ink  style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" href="#/repairShop">

            REPAIR SHOP

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42;" class="md-whiteframe-3dp" layout="row" href="#/ourBrand">

           OUR BRAND

        </md-button>-->

        <md-button layout="row" layout-align="start" href="#/inventory">

            <md-icon class="material-icons">music_note</md-icon>

            Inventory

            <md-icon class="material-icons" ng-show="!showInventory">keyboard_arrow_right</md-icon>

            <md-icon class="material-icons" ng-show="showInventory">keyboard_arrow_down</md-icon>

        </md-button>

        <div ng-show="showInventory" layout="column">

            <md-button layout="row" layout-align="start" ng-click="filterGuitar()">

                Guitars

            </md-button>

            <md-button layout="row" layout-align="start" ng-click="filterBanjo()">

                Banjos

            </md-button>

            <md-button layout="row" layout-align="start" ng-click="filterMando()">

                Mandolins

            </md-button>

            <md-button layout="row" layout-align="start" ng-click="filterOther()">

                Other Instruments

            </md-button>

        </div>

        <md-divider></md-divider>

        <md-button layout="row" layout-align="start">

            <md-icon class="material-icons">event</md-icon>

            Events

        </md-button>

        <md-divider></md-divider>

        <md-button layout="row" layout-align="space between" ui-sref="repairShop">

            <md-icon class="material-icons">build</md-icon>

            Repair Shop

        </md-button>

        <md-divider></md-divider>

        <md-button layout="row" layout-align="space between" ui-sref="ourBrand">

            <md-icon class="material-icons">build</md-icon>

            Our Brand

        </md-button>

    </md-content>

</md-sidenav>